<div class="row admin-articles-index">
  <h1>Articles</h1>

  <div class="list-group">
    <% @articles.each do |a| %>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= a.title %></h5>
          <small><%= a.created_at %></small>
        </div>
        <p class="mb-1"><%= a.body %></p>
        <small><%= a.user.first_name %></small>
      </a>
    <% end %>
  </div>
  
</div>
