<div class="row admin-article-show">
  <div class="col-md-12">
    <h1><%= @article.title %></h1>

  </div>
  <div class="col-md-12">
    <div class="article-body">
      <p>
        <%= @article.body %>
      </p>
    </div>
  </div>
</div>
